{% comment %}
  This section is used in the 404 template to render page shown when customers
  enter an invalid store URL.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/404
{% endcomment %}

<div class="max-w-md">
  <div class="text-5xl font-bold my-4">{{ section.settings.title }}</div>
  <div class="my-4">
    <p class="text-base md:text-xl leading-normal">{{ section.settings.not_found }}</p>
  </div>
  <div class="my-4">
    {% if section.settings.button_url == blank %}
      {% assign shop_url = shop.secure_url %}
      {%- else -%}
      {% assign shop_url = section.settings.button_url %}
    {% endif %}
    <a href="{{ shop_url }}"class="px-4 inline py-2 text-base font-medium shadow bg-green-600 hover:bg-green-800 text-white">{{ section.settings.button_label }}</a>
  </div>
</div>

{% schema %}
{
  "name": "t:general.404",
  "tag": "section",
  "class": "flex items-center justify-center text-center py-7 h-screen",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "404 Heading Title",
      "default": "404"
    },
    {
      "type": "text",
      "id": "not_found",
      "label": "404 Not Found",
      "default": "The page that you're looking for cannot be found"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Back to Homepage"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    }
  ]
}
{% endschema %}
