<div class="flex flex-col items-center my-8">
  {% form 'contact' %}
    <label for="contact_name">Name</label>
    <input type="text" name="contact[name]" id="contact_name" placeholder="Name">

    <label for="contact_email">Email</label>
    <input type="email" name="contact[email]" id="contact_email" placeholder="Email">

    <label for="contact_message">Message</label>
    <textarea name="contact[body]" id="contact_message"></textarea>

    <input type="submit" value="Submit message">
  {% endform %}
</div>

{% schema %}
{
  "name": "Contact form",
  "presets": [
    {
      "name": "Contact form"
    }
  ]
}
{% endschema %}
